<a href="https://colab.research.google.com/github/Santhosh2307/Python_AL/blob/main/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [4]:
data_rows = [
    (100, 'Santhosh', 45000),
    (200, 'Vinay', 40000),
    (300, 'Sunil', 30000),
    (400, 'Dundappa', 50000),
    (500, 'Raj', 25000),
    (600, 'Madhu', 20000),

]

columns = ["emp_id", "emp_name", "salary"]
emp_df = spark.createDataFrame(data=data_rows, schema=columns)
emp_df.show()

+------+--------+------+
|emp_id|emp_name|salary|
+------+--------+------+
|   100|Santhosh| 45000|
|   200|   Vinay| 40000|
|   300|   Sunil| 30000|
|   400|Dundappa| 50000|
|   500|     Raj| 25000|
|   600|   Madhu| 20000|
+------+--------+------+

In [7]:
emp_df.rdd.getNumPartitions()

2